body {
  padding: 0%;
  margin: 0%;
  background-image: url("img/background.jpg");
}
.header__container {
  height: 187px;
}
.header__favicon {
  padding-block: 66px 32px;
  padding-left: 92px;
}
.main__container {
  font-family: "Inria Serif", sans-serif;
}
.section__main-text {
  color: #ffffff;
  opacity: 20%;
  font-size: 460px;
  font-weight: 500;
  z-index: -1;
}
.section__text {
  font-family: "Jaro", sans-serif;
  z-index: 2;
}
